body {
    background-image: url('../tp2/image/img1.avif');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

body{
    margin: 0;
    padding: 0;
    font: 12px arial;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.9); 
    color: #fff;
    text-align: center; 
    padding: 10px 0;
}

.menuderoulant{
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;
}

.menuderoulant li{
    float: left;
    width: 200px;
}

.menuderoulant li a:link, .menuderoulant li a:visited{
    display: block;
    color: #ffffff;
    background: #293245;
    padding: 10px 20px;
    border-right: 1px solid #ffffff;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover{background-color:#199BD2 ;}
.menuderoulant li a:active{background-color:#808080 ;}

.menuderoulant .sousmenu{
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.menuderoulant .sousmenu li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menuderoulant .sousmenu li a:link, .menuderoulant li a:visited{
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-color: #808080;
}

.menuderoulant .sousmenu li a:hover{
    background-color: #199BD2;
}

.menuderoulant li:hover .sousmenu{
    display: block;
}